<div>
    <label for="password">Password: </label>
    <input
        id="password"
        type="password"
        [(ngModel)]="password"
        placeholder="Enter password"
        [ngClass]="{'red': haveEnoughCharacters===false}"
    >
    <div class="status gray"
        [ngClass]="{'red': strength===1 || haveEnoughCharacters===false, 'yellow': strength===2, 'green': strength===3}"
    >Easy</div>
    <div class="status gray"
        [ngClass]="{'red': haveEnoughCharacters===false, 'yellow': strength===2, 'green': strength===3}"
    >Medium</div>
    <div class="status gray"
        [ngClass]="{'red': haveEnoughCharacters===false, 'green': strength===3}"
    >Strong</div>

</div>